<nav class="navbar navbar-default">
  
  <div class="navbar-header">
    <a class="navbar-brand"><img src="assets\images\logo_svg.svg" width="80" height="70" style="margin-top:-20px;"></a>
  </div>
  <ul class="nav navbar-nav">
    <li class="active"><a routerLink="practice" >Practice</a></li>
    <li><a href="#">Referrals</a></li>
    <li><a href="#">Contests<sup>New</sup></a></li>
   
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a routerLink="signup-login/login" class="login">Log In</a></li>
    <li><a routerLink="signup-login/signup" class="signin active">Sign In</a></li>
    <li>Looking to hire? <a href="#" style="color: blue">We can help</a></li>
  </ul>

</nav>